/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

body {
  background-image: url("https://dl.dropboxusercontent.com/s/y1s9m3q5uk10kcg/background.jpg");
  background-size: 100% 150%;
}
.logo {
  height: 90px;
  width: 90px;
  margin-left: 70px;
  margin-right: 130px;
}
.navbar {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  width: 1290px;
  margin-top: 25px;
  margin-left: 67px;
}
.icons {
  margin-left: 380px;
  font-size: 25px;
}
.gruita {
  height: 50px;
  width: 125px;
  margin-left: 290px;
}
.nav-text {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
}
.nav-text span {
  display: inline-block;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.nav-text span:hover {
  transform: scale(1);
  opacity: 0.7;
}
.homebtn {
  padding-top: 10px;
  font-size: 40px;
  font-family: "Dosis", sans-serif;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}
.headerlp {
  margin-top: -45px;
  width: 100%;
}
.boton {
  margin-top: -20%;
  margin-left: 1%;
}
.weatherwidget-io {
  width: 400px;
  margin-top: 20px;
  margin-right: 40px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}
.fotofoto {
  width: 250px;
}
.towline {
  width: 125px;
  height: 100px;
}
.buttoncontact {
  font-size: 20px;
  width: 100px;
}
.contact-container {
  margin-left: 450px;
  width: 550px;
}
.segundo {
  position: relative;
  width: 1290px;
  height: 800px;
  margin-top: -210px;
  filter: drop-shadow(20px 20px 4px rgba(0.2, 0.2, 0.2, 0.2));
  z-index: -1;
}
#secondnav {
  height: 100px;
}
.towing {
  position: relative;
  z-index: 2;
  height: 550px;
  margin-top: -630px;
  margin-left: 750px;
  filter: drop-shadow(20px 20px 4px rgba(0.2, 0.2, 0.2, 0.2));
}
