/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.logo {
  height: 150px;
  width: 150px;
  margin-left: 70px;
  margin-right: 130px;
}
.navbar {
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}
.icons {
  margin-left: 480px;
  font-size: 25px;
}
.gruita {
  height: 50px;
  width: 125px;
  margin-left: 390px;
}
.nav-text {
  font-family: "Dosis", sans-serif;
  font-size: 35px;
}
.nav-text span {
  display: inline-block;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.nav-text span:hover {
  transform: scale(1);
  opacity: 0.7;
}
.homebtn {
  padding-top: 10px;
  font-size: 40px;
  font-family: "Dosis", sans-serif;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}
.headerlp {
  margin-top: -45px;
  width: 100%;
}
.boton {
  margin-top: -20%;
  margin-left: 1%;
}
.weatherwidget-io {
  width: 250px;
  margin-top: 25px;
  margin-right: 75px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}
.fotofoto {
  width: 250px;
}
.towline {
  width: 125px;
  height: 100px;
}
.buttoncontact {
  font-size: 20px;
  width: 100px;
}
.contact-container {
  margin-left: 450px;
  width: 550px;
}
